.nav{
    display: flex;
    align-items: center;
    background-color:#001031;
    padding: 0rem 5rem 0rem 5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
   

}

.nav a{
    
    width: -moz-fit-content;
    width: fit-content;
    margin: 0rem 1rem 0rem 1rem ;
    padding: 1rem;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0 0 5px white, 0 0 10px white;
    background-color:#001031;
    
}
.nav a:hover{
    color: gold;
   
    
}

.iconogm{
    color: aliceblue;
    background-color: #00319c;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem rgba(255, 255, 255, 0.678);
    
}

@media(max-width: 420px){
    .nav{
        display: none;

    }
   
}

@media(max-width: 960px){
    .nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    .iconogm{
        display: none;
    }

}

@media(max-width: 620px){
    .nav{
        display: none;
    }
}