body{
    background-image: url("./../../public/img/negro1.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
      
}

.conth {
    width: 80vw;
    color: whitesmoke;
    
}

.presentacion {
    text-align: left;
    padding-top: 8rem;

}

.soy {
    font-size: 2rem;
    text-shadow: 0 0 5px whitesmoke, 0 0 10px whitesmoke, 0 0 15px whitesmoke;

}


.nombre {
    margin-top: 0;
    font-size: 6rem;
    color: rgb(134, 255, 255);
    text-shadow: 0 0 5px aqua, 0 0 10px aqua, 0 0 15px aqua ;
    margin-bottom: 0;
    margin-bottom: 1rem;
    animation: nombre 2s infinite backwards steps(1);

}

@keyframes nombre{
    0%{
        color: rgb(53, 121, 121);
        text-shadow: none;
    }

    50%{
        color:rgb(134, 255, 255) ;
        text-shadow: 0 0 5px aqua, 0 0 10px aqua, 0 0 15px aqua ;

    }

    100%{
        color: rgb(53, 121, 121);
        text-shadow: none;
    }
}

.bienvenidos {
    margin: 0rem 0rem 1.75rem 3rem;
    color: rgb(255, 237, 137);
    text-shadow: 0 0 5px rgb(255, 236, 130), 0 0 10px gold, 0 0 20px gold ;
    display: flex;

}
.punto{
    margin-left: 0;
    animation: punto 1.5s infinite steps(1);

}

@keyframes punto{
    0%{opacity: 100%;}
    50%{opacity: 0%;}
    100%{opacity: 100%;}

}

.linkedin {
    padding: 1rem;
    background-color: rgb(73, 73, 255);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-left: 5rem;

}

.nombre,
.bienvenidos,
.soy {
    transition: ease 0.3s;

}

.nombre:hover,
.bienvenidos:hover,
.soy:hover {
    transition: ease 0.3s;
    transform: scale(1.01);

}

.sobremi {
    padding-top: 6rem;
    text-align: left;

}

.sobremi h1 {
    font-size: 3rem;
    color: rgb(138, 255, 187);
    text-shadow: 0 0 5px  rgb(31, 255, 124), 0 0 10px  rgb(31, 255, 124), 0 0 15px  rgb(31, 255, 124);

}

/* ACA EMPIEZA LA SECCION PORFOLIO */

.porta,
.educacion,
.skills {
    height: 75%;
    padding-top: 10rem;

}

.porfolio,
.estudios,
.habilidades,
.contactame {
    font-size: 3rem;
    color: rgb(138, 255, 187);
    text-shadow: 0 0 5px  rgb(31, 255, 124), 0 0 10px  rgb(31, 255, 124), 0 0 15px  rgb(31, 255, 124);
}

.tarjetas {
    margin-top: 7rem;
    display: flex;

}

.card {
    box-sizing: border-box;
    max-width: 30%;
    max-height: 30%;
    margin-right: 2rem;
    text-align: left;
    padding: 2rem;
    border: 2px solid whitesmoke;
    box-shadow: inset 0 0 5px aqua, 0 0 10px aqua;
    border-radius: 1rem;
    background-color: #0e0018cb;
    transition:linear 0.3s;

}

.card:hover{
    transition:linear 0.3s;
    transform: scale(1.05);

}

.card:first-child {
    margin-left: 5rem;
}

.proyectosimg {
    object-fit: cover;
    max-width: 100%;
    border-radius: 0.5rem;

}

.card h4 {
    color: rgb(73, 73, 255);

}

.card p {
    font-size: 0.8em;

}

.git{
    width: 32px;
    border-radius: 100%;

}

.github{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;

}

.github div{
    flex-direction: column;
    padding: 2%;
    text-align: center;

}

.github div p{
    padding: 1%;
    text-align: center;

}

/* SECCION ESTUDIOS */

.estudios {
    margin-bottom: 5rem;
}

.estudio h1 {
    color: rgb(73, 73, 255);

}


.estudio,
.contskills {
    padding-bottom: 2rem;
    margin-left: 2rem;

}

/* HABILIDADES */

.programacion,
.fra_y_lib,
.soft_y_herra {
    color: rgb(73, 73, 255);
    padding-top: 2rem;

}

.lenguajes {
    display: flex;

}

.lenguajes img {
    transition: ease 0.3s;
    width: 5%;

}

.lenguajes img:hover {
    transition: ease 0.3s;
    transform: scale(1.1);
    filter: drop-shadow(0rem 0rem 0.25rem whitesmoke);

}


/* SECCION CONTACTO */

.contacto {
    padding-top: 10rem;
    margin-bottom: 15rem;

}

.contacto img {
    width: 48px;
    height: 48px;

}

.contactos h3 {
    margin-left: 1rem;

}

.contactos {
    display: flex;
    padding: 1rem;

}

.linkedin2 {
    color: whitesmoke;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;

}

.descarga {
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 0.75rem;
    border-radius: 1rem;
    text-decoration: none;
    background-color: rgb(73, 73, 255);
    border: 1px solid whitesmoke;
    box-shadow: inset 0 0 5px rgb(73, 73, 255), 0 0 10px  rgb(73, 73, 255), 0 0 15px rgb(73, 73, 255) ;
    animation: descarga 2s infinite backwards steps(1);

}

.descarga:hover {
    color: gold;

}

@keyframes descarga{
    0%{box-shadow: inset 0 0 5px rgb(73, 73, 255), 0 0 10px  rgb(73, 73, 255), 0 0 15px rgb(73, 73, 255);}
    50%{box-shadow: none;}
    100%{box-shadow: inset 0 0 5px rgb(73, 73, 255), 0 0 10px  rgb(73, 73, 255), 0 0 15px rgb(73, 73, 255);}
    
}

.nombreypj{
    display: flex;
    margin: 0 auto;
}

.personaje{
    /* position: absolute; */
    width: 200px;
    height: 148px;
    margin: auto;
    background-image: url('./../../public/img/personaje/adventurer-idle-2-00.png');
    background-size: cover;
    animation: enlugar infinite 0.75s backwards;
    /* animation-delay: 5s;
    animation: llegando 0.75s infinite steps(6);  */
    filter:drop-shadow(0 0 0.20rem whitesmoke) ;
    z-index: 1;

}

 @keyframes enlugar{
    
    25%{
        background-image: url('./../../public/img/personaje/adventurer-idle-2-01.png');
    }
    50%{
        background-image: url('./../../public/img/personaje/adventurer-idle-2-02.png');
    }
    75%{
        background-image: url('./../../public/img/personaje/adventurer-idle-2-03.png');
    }

 }

 /* @keyframes llegando{
    0%{
       background-image: url('./../../public/img/personaje/adventurer-run-00.png')
    }
    20%{
        background-image: url('./../../public/img/personaje/adventurer-run-01.png')
    }
    40%{
        background-image: url('./../../public/img/personaje/adventurer-run-02.png')
    }
    60%{
        background-image: url('./../../public/img/personaje/adventurer-run-03.png')
    }
    80%{
        background-image: url('./../../public/img/personaje/adventurer-run-04.png')
    }
    100%{
        background-image: url('./../../public/img/personaje/adventurer-run-05.png')
    }
 } */

 /* .personaje:active{
    animation: golpe normal 2s ;
 }

 @keyframes golpe{
    to{
        background-image: url('./../../public/img/personaje/adventurer-idle-2-01.png');
    }
 } */


@media(max-width: 420px) {

    .linkedin{
        display: none;

    }

    .conth {
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    .conth section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */

    }

    .presentacion {
        padding-top: 1rem;
        text-align: center;

    }

    .nombre {
        font-size: 3.3rem;

    }

    .bienvenidos {
        margin-left: 0;

    }

    .linkedin {
        margin-left: 0;

    }

    .sobremi {
        padding-top: 6rem;
        text-align: center;

    }

    .tarjetas {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .card {
        
        max-width: 100%;
        max-height: 25%;
        margin-right: 0rem;
        text-align: center;
        padding: 1rem;
        border: 0.5rem solid rgb(36, 255, 255);
        border-style: ridge;
        border-radius: 1rem;
        margin-bottom: 2rem;

    }
    .card p{
        font-size: 0.5rem;

    }
    .card h4{
        font-size: 0.8rem;

    }

    .git{
        margin-left: 0%;

    }

    .card:first-child {
        margin-left: 0rem;

    }

    .estudio,
    .contskills {
        padding-bottom: 2rem;
        margin-left: 0rem;

    }

    .lenguajes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .lenguajes img {
        transition: ease 0.3s;
        width: 20%;

    }

    .contactos {
        align-items: center;
        flex-direction: column;
       padding: 0;

    }

    .email {
        font-size: 0.9rem;
        margin-left: 0;
        padding-left: 0;
        text-align: center;

    }

    .descarga {
        font-size: 1rem;
        padding: 0.75rem;
        border-radius: 1rem;
        text-decoration: none;
        background-color: rgb(36, 255, 255);
        margin-left: 0rem;
        border-color: rgb(36, 255, 255, 0.5);

    }

    .porfolio,
    .estudios {
        font-size: 2.5rem;
        text-align: center;
        
    }

    .contactame {
        font-size: 2rem;
        text-align: center;
       
    }
    .habilidades{
        font-size: 1.9rem;

    }

    .personaje{
        display: none;
    }

    

}